html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

* {
	font-family: monospace;
}

#pong-table {
	position: relative;
	width: 600px;
	height: 400px;
	margin: auto;
	margin-top: 200px;
	border: 3px solid #583369;
	border-radius: 10px;
	background-color: none;
}

#difficulty {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 120px;
}

strong {
	font-size: 16px;
}

.difBut {
	display: inline-block;
	width: 100px;
	height: 30px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 20px;
	line-height: 160%;
	cursor: pointer;
}

.difButHigh {
	background-color: #62DB5C;
}

#start {
	display: block;
	position: absolute;
	margin-top: 220px;
	margin-left: 250px;
	z-index: 5001;
	width: 100px;
	height: 50px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 20px;
	line-height: 160%;
	cursor: pointer;
	background-color: white;
}

#start:hover {
	background-color: #454545;
	color: white;
}

#ball {
	position: absolute;
	top: 0px;
	left: 300px;
	width: 10px;
	height: 10px;
	border-radius: 100px;
	background-color: #CD2222;
	z-index: -1;
}

#paddle {
	position: absolute;
	right: 0;
	height: 60px;
	width: 10px;
	background-color: #3E3EB1;
	border-radius: 5px;
}

#computer {
	position: absolute;
	left: 0;
	height: 60px;
	width: 10px;
	background-color: #269926;
	border-radius: 5px;
}

#scores {
	width:200px;
	height: 80px;
	border: 3px solid black;
	margin: auto;
	margin-top: 50px;
}

#comp-score, #player-score {
	width: 95px;
	height: 100px;
	display: inline-block;
	text-align: center;
}

#wins {
	display: none;
	position: absolute;
	top:10%;
	height: 80%;
	width: 100%;
	text-align: center;
	font-size: 50px;
	padding-top: 30px;
}

#playAgain {
	display: inline-block;
	width: 100px;
	height: 30px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 20px;
	line-height: 160%;
	cursor: pointer;
	width: 150px;
}

#playAgain:hover {
	background-color: #454545;
	color: white;
}


