html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#pong-table {
	position: relative;
	width: 800px;
	height: 400px;
	margin: auto;
	margin-top: 200px;
	border: 1px solid;
	background-color: none;
}

#start {
	display: block;
	width: 100px;
	height: 30px;
	margin: auto;
	margin-top: 185px;
	z-index: 5001;
}

#ball {
	position: absolute;
	top: 0px;
	left: 390px;
	width: 10px;
	height: 10px;
	border-radius: 100px;
	background-color: red;
	z-index: -1;
	/*transition: 0.05s top, 0.01s left;*/
}

#paddle {
	position: absolute;
	right: 0;
	height: 60px;
	width: 10px;
	background-color: blue;
}

#computer {
	position: absolute;
	left: 0;
	height: 60px;
	width: 10px;
	background-color: green;
}

#scores {
	width:200px;
	height: 100px;
	border: 1px solid black;
	margin: auto;
}

#comp-score, #player-score {
	width: 95px;
	height: 100px;
	display: inline-block;
	text-align: center;
}



